<div class="flex" cdkDropListGroup>
    <div class="app-container view-50 darkslategray">
        <h2>Kollin</h2>

        <div cdkDropList [cdkDropListData]="items" class="app-list" (cdkDropListDropped)="drop($event)">
            <div class="app-box" *ngFor="let item of items" cdkDrag>
                <span>#{{ item.number }}</span>
                {{ item.name}}
                <span>{{ item.weight }} kg</span>
            </div>
        </div>
    </div>

    <div class="app-container view-50 black">
        <div *ngFor="let person of persons" class="person-container">
            <div class="pad-8" cdkDropList [cdkDropListData]="person.items" (cdkDropListDropped)="drop($event)">
                <div>
                    <h4>{{ person.name }}</h4>
                    Vikt: {{ sumWeightPersonItems(person) }} kg<span>, Handbaggage:
                        {{ countPersonHandluggage(person) }}, Kollin: {{ countPersonItems(person) }} st
                    </span>
                </div>

                <div class="app-list">
                    <div class="app-box" *ngFor="let item of person.items" cdkDrag>
                        <span>#{{ item.number }}</span>
                        {{ item.name}}
                        <span>{{ item.weight }} kg</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>