<mat-toolbar color="primary" class="fixed">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">
      <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Organisera</span>
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a mat-list-item routerLink="/rules">
          <mat-icon>done</mat-icon> <span class="nav-caption">Regler</span>
        </a>
      </li>
      <li>
        <a mat-list-item routerLink="/items">
          <mat-icon>work</mat-icon> <span class="nav-caption">Kollin</span>
        </a>
      </li>
      <li>
        <a mat-list-item routerLink="/persons">
          <mat-icon>person</mat-icon> <span class="nav-caption">Personer</span>
        </a>
      </li>
      <li>
        <a routerLink="/settings">
          <mat-icon>settings</mat-icon> <span class="nav-caption">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
