<!-- https://code-maze.com/angular-material-navigation/#navigationdevelopment -->
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <!--side-nav code-->
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--all the content must reside here. And an navigation header as well-->
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
      <div class="sticky-container">
        <button class="bottom-button" mat-raised-button color="primary" (click)="verify()">Verifiera</button>
        <button class="bottom-button" mat-raised-button color="accent" (click)="save()">Spara</button>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>